<section 
    class=" landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
>

    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
            <p class="text-black text-sm underline">Concertar una prueba de conducción</p>
        </header>

        <footer class="relative flex flex-grow flex-nowrap justify-end flex-col pb-24">
            <div class="gap-x-6 flex mx-auto">
                <a 
                class="border-[3px] bg-gray-600 text-white text-sm rounded font-medium px-12 py-2 inline-block 
                 hover:bg-gray-500 transition-colors hover:border-gray-500" 
                href="#">Explorar inventario</a>

                <a 
                class=" bg-white text-sm rounded font-medium px-12 py-2 inline-flex
                 hover:text-white hover:bg-black transition-colors justify-center items-center text-black" 
                href="#">Pedido Personalizado</a>
            </div>
        </footer>
    </div>


    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img
        src="/ModelY_88.jpg" 
        alt="Model Y"
        class="h-full w-full object-cover object-center"
        >
    </div>

</section>